$sr:25;
*{padding: 0;margin: 0;}
#comtentb{
       margin-top: 45/$sr+rem;
        margin-bottom: 60/$sr+rem;
        height: 562/$sr+rem;
        overflow-y: auto;
        background:#f2f2f2;
        ul{
            list-style: none;
            margin-top: 15/$sr+rem;
            background-color: #fff;
            box-sizing: border-box;
            padding: 0 10/$sr+rem;
        
        li{
            border-bottom: 1/$sr+rem solid #f2f2f2;
            height: 55/$sr+rem;
            background-size:35/$sr+rem 35/$sr+rem !important;  
            font-size: 16/$sr+rem;
            padding-left: 65/$sr+rem;
            line-height: 55/$sr+rem;
            background-position: 10/$sr+rem 10/$sr+rem !important;
        }
        &:nth-of-type(1) li:nth-child(1){
            background: url(../../src/img/新的朋友.png) no-repeat;
        }
        &:nth-of-type(1) li:nth-child(2){
            background: url(../../src/img/群聊.png) no-repeat;
        }
        &:nth-of-type(1) li:nth-child(3){
            background: url(../../src/img/标签管理.png) no-repeat;
        }
        &:nth-of-type(1) li:nth-child(4){
            background: url(../../src/img/关注公众号.png) no-repeat;
        }
        &:nth-of-type(2) li:nth-child(1){
            background: url(../../src/img/a.jpg) no-repeat;
        }
        &:nth-of-type(2) li:nth-child(2){
            background: url(../../src/img/b.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(1){
            background: url(../../src/img/c.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(2){
            background: url(../../src/img/d.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(3){
            background: url(../../src/img/e.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(4){
            background: url(../../src/img/f.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(5){
            background: url(../../src/img/g.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(6){
            background: url(../../src/img/l.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(7){
            background: url(../../src/img/n.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(8){
            background: url(../../src/img/m.jpg) no-repeat;
        }
        &:nth-of-type(3) li:nth-child(9){
            background: url(../../src/img/a.jpg) no-repeat;
        }
        
     }
        
        
        
        
        
        
        
        
}
